.user_details_heading{
    margin-top: 10px;
    margin-bottom: 0px !important;
}



@media only screen and (max-width:1030px){
    
    .account_request_details_main{
        margin-left: -40px !important;
    }


}


@media only screen and (max-width:430px){
    
    .account_request_details_main{
        margin-left: -20px !important;
    }
    

}

