.changeToBlur{
    opacity:0.2
}

@media only screen and (max-width:1026px){
.col-lg-6{

padding: 0px;
}
.row{
    margin-left: 40px !important;
}
.headings{
    margin-left: 30px !important;
}
}

@media only screen and (max-width:430px){
.row{
    margin-left: 0px !important;
}
.headings{
    margin-left: 15px !important;
}
.verify{
    padding: 0px !important;
}

.submit{
    padding: 0px !important;
    margin-left: -15px !important;
}
.verify Button{
    width: 300px !important;
}

.submit Button{
    width: 300px !important;
}
}
    
    