

@media only screen and (max-width:1030px){
    .home_main{
        margin-left: -80px !important;
    }
}


@media only screen and (max-width:430px){
    .home_main{
        margin-left: -40px !important;
        align-items: center;
    }
.changeBorder{
    border: none !important;
}

}




@media only screen and (max-width:380px){
    .home_main{
        margin-left: -20px !important;
    }
}
